/* 1440px / 16px */
/* 1200px / 16px */
/* 1024px / 16px */
/* 768px / 16px */
/* 600px / 16px */
/* 480px / 16px */
/* 320px / 16px */
/* Set box-sizing */
header > div, header ul, footer > div div, .boxservizi, .boxservizi p, #bcr ul, .internal main > div + div, .internal article, .cols1 form ul, .pages ul {
  *zoom: 1;
}

header > div:before, header ul:before, footer > div div:before, .boxservizi:before, .boxservizi p:before, #bcr ul:before, .internal main > div + div:before, .internal article:before, .cols1 form ul:before, .pages ul:before, header > div:after, header ul:after, footer > div div:after, .boxservizi:after, .boxservizi p:after, #bcr ul:after, .internal main > div + div:after, .internal article:after, .cols1 form ul:after, .pages ul:after {
  content: "";
  display: table;
}

header > div:after, header ul:after, footer > div div:after, .boxservizi:after, .boxservizi p:after, #bcr ul:after, .internal main > div + div:after, .internal article:after, .cols1 form ul:after, .pages ul:after {
  clear: both;
}

/* ===================== H5BP Normalize =================== */
/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, picture {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  display: none;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-size: 10px;
  background: #bfbfbf;
  *overflow-x: hidden;
}

body[data-env="dev"]:before {
  display: block;
  position: fixed;
  z-index: 32767;
  top: 1px;
  right: 1px;
  padding: .1em .5em;
  background: #ccc;
  color: #313131;
  opacity: .4;
  font: 3.6em Inconsolata, "Courier new", Courier;
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  body[data-env="dev"]:before {
    /**
     * min-width:320px : 1x
     * ==================================== */
    content: "320";
  }
}
@media screen and (min-width: 480px) {
  body[data-env="dev"]:before {
    /**
     * min-width:480px : 1x
     * ==================================== */
    content: "480";
  }
}
@media screen and (min-width: 660px) {
  body[data-env="dev"]:before {
    /**
     * min-width:660px : 1x
     * ==================================== */
    content: "660";
  }
}
@media screen and (min-width: 768px) {
  body[data-env="dev"]:before {
    /**
     * min-width:768px : 1x
     * ==================================== */
    content: "768";
  }
}
@media screen and (min-width: 1024px) {
  body[data-env="dev"]:before {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    content: "1024";
  }
}
@media screen and (min-width: 1200px) {
  body[data-env="dev"]:before {
    /**
     * min-width:1200px : 1x
     * ==================================== */
    content: "1200";
  }
}
@media screen and (min-width: 1440px) {
  body[data-env="dev"]:before {
    /**
     * min-width:1440px : 1x
     * ==================================== */
    content: "1440";
  }
}
body[data-env="dev"]:hover:before {
  display: none;
}

.iframecontent body[data-env="dev"] {
  content: "";
}

#mnu-servizi:hover a, #bcr li + li {
  /* URL : img/css/servizi-freccia.png */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpiaGho0Pr//z8DNszEyMh4orGxcRoQCzGgAcb29vZ/P3/+ZASyPwFxHRBPqa+v/wuSZEJSyAfEE4D4EtAUD3RJGNAC4u1ABTks6DLCwsIMHh4eDCoqKgxwSXZ2dgZ7e3sGMzOzW8zMzPlAoR1gSUNDQwZnZ+dP3NzcjSAHAfEvsI6XL19+AvppDhCLovsTROAMBIAAAwB/HF0HEYjEiAAAAABJRU5ErkJggg==);
  *background-image: url(../../images/css/servizi-freccia.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 660px) {
  body {
    /**
     * min-width:660px : 1x
     * ==================================== */
  }
}
#wrapper {
  box-shadow: -1px -1px 3px #666;
}

@media screen and (min-width: 1200px) {
  #wrapper {
    /**
     * min-width:1200px : 1x
     * ==================================== */
    margin: 0 auto;
  }
}
/* === HEADER === */
header {
  position: relative;
  z-index: 10;
  min-height: 127px;
  background: #fefefe url(../../images/css/header-bg.png) bottom left repeat-x;
}

header > div {
  padding-top: 70px;
  margin: 0 22px;
  min-height: 57px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  header {
    /**
     * min-width:1024px : 1x
     * ==================================== */
  }

  header > div {
    width: 980px;
    margin: 0 auto;
  }
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul a {
  color: #888888;
  text-decoration: none;
  text-shadow: 1px 1px 1px #d8d8d8;
}

header ul a:link, header ul a:visited, header ul a:hover, header ul a:focus, header ul a:active {
  color: #888888;
}

header ul a:hover {
  color: #fff;
}

header nav {
  clear: left;
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {
  header nav {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    clear: none;
    float: left;
    padding: 0 23px 0 34px;
  }
}
@media screen and (min-width: 660px) {
  header nav ul {
    /**
     * min-width:660px : 1x
     * ==================================== */
    position: relative;
    z-index: 1;
    left: -1em;
  }

  header nav ul a {
    padding: 5px 0;
  }
}
@media screen and (min-width: 1024px) {
  header nav ul {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    top: 5px;
    left: 0;
  }
}
header nav li {
  font-size: 1.2em;
  height: 3.8em;
  line-height: 3.8em;
}

header nav li a {
  padding: 0 1em;
}

header nav li:first-child a {
  padding-left: 0;
}

@media screen and (min-width: 660px) {
  header nav li {
    /**
     * min-width:660px : 1x
     * ==================================== */
    font-size: 1.2em;
    height: 4.4em;
    line-height: 3.8em;
    float: left;
  }

  header nav li:first-child a {
    padding: 0 1em;
  }
}
header nav li + li a {
  border-left: 1px #cdcdcd solid;
}

header nav + nav {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0;
}

@media screen and (min-width: 1024px) {
  header nav + nav {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    position: static;
  }
}
header nav ul[role] {
  border-top: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
}

header nav ul[role] li:hover, header nav ul[role] li.current {
  background-color: #f4770e;
  text-indent: 10px;
}

header nav ul[role] li:hover a, header nav ul[role] li.current a {
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

header nav ul[role] a {
  padding: 0;
}

@media screen and (min-width: 660px) {
  header nav ul[role] a {
    /**
     * min-width:660px : 1x
     * ==================================== */
    padding: 0 1em;
  }
}
@media screen and (min-width: 660px) {
  header nav ul[role] {
    /**
     * min-width:660px : 1x
     * ==================================== */
    border-top: 0;
    border-bottom: 0;
  }

  header nav ul[role] li:hover, header nav ul[role] li.current {
    background: #f2670c url(../../images/css/bg-menu-current.png) top left no-repeat;
    height: 4em;
    text-indent: 0;
    border-bottom: .4em #b44d09 solid;
  }

  header nav ul[role] li:hover + li a, header nav ul[role] li.current + li a {
    border-left: 1px transparent solid;
  }
}
@media screen and (min-width: 1024px) {
  header nav ul[role] {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    margin-bottom: 0;
  }
}
header nav ul[role] li + li {
  border-top: 1px #d8d8d8 solid;
}

header nav ul[role] li + li a {
  border-left: 0;
}

@media screen and (min-width: 660px) {
  header nav ul[role] li + li {
    /**
     * min-width:660px : 1x
     * ==================================== */
    border-top: 0;
  }

  header nav ul[role] li + li a {
    border-left: 1px #cdcdcd solid;
  }

  header nav ul[role] li + li:hover a, header nav ul[role] li + li:hover + li a {
    border-left: 1px transparent solid;
  }
}
@media screen and (min-width: 1024px) {
  #logo {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    float: left;
  }
}
#mnu-languages li {
  float: left;
  border-top: 0;
}

#mnu-languages li.current {
  font-weight: bold;
}

#mnu-servizi {
  width: 152px;
  height: 70px;
  background: url(../../images/css/servizi-menu.png) top left no-repeat;
  float: right;
  clear: left;
  margin-top: 20px;
  position: relative;
  z-index: 200;
}

@media screen and (min-width: 660px) {
  #mnu-servizi {
    /**
     * min-width:660px : 1x
     * ==================================== */
    position: absolute;
    right: 0;
    bottom: 1px;
  }
}
#mnu-servizi h2 {
  color: #d6d6d6;
  text-transform: uppercase;
  text-align: center;
  height: 70px;
  width: 152px;
  line-height: 70px;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#mnu-servizi ul {
  display: none;
}

#mnu-servizi:hover h2 {
  color: #f6913e;
}

#mnu-servizi:hover ul {
  display: block;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}

#mnu-servizi:hover li {
  height: 3.6em;
  line-height: 3.6em;
  border-top: 1px #f6f6f6 solid;
  border-bottom: 1px #e0e0e0 solid;
  background: #ededed;
}

#mnu-servizi:hover a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 30px;
  background-position: 16px center;
  text-indent: 34px;
}

/* === FOOTER === */
footer {
  height: 213px;
  background: #007946 url(../../images/css/bg-footer.jpg) top center no-repeat;
}

footer > div {
  padding-top: 34px;
  margin: 0 22px;
}

@media screen and (min-width: 1024px) {
  footer > div {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    max-width: 980px;
    margin: 0 auto;
  }
}
footer > div div {
  margin-top: 34px;
  padding-top: 30px;
  border-top: 1px #26855c solid;
  font-size: 1.2em;
  overflow: hidden;
}

footer > div address {
  color: #85b8a2;
  font-style: normal;
  float: left;
}

footer > div li {
  float: left;
  margin: 0 0 1.5em 0;
  padding: 0 8px;
}

footer > div li a {
  color: #85b8a2;
  text-decoration: none;
}

footer > div li a:link, footer > div li a:visited, footer > div li a:hover, footer > div li a:focus, footer > div li a:active {
  color: #85b8a2;
}

footer > div li a:hover {
  color: white;
  text-decoration: none;
}

footer > div li a:hover:link, footer > div li a:hover:visited, footer > div li a:hover:hover, footer > div li a:hover:focus, footer > div li a:hover:active {
  color: white;
}

footer > div li.current a {
  color: white;
  text-decoration: none;
}

footer > div li.current a:link, footer > div li.current a:visited, footer > div li.current a:hover, footer > div li.current a:focus, footer > div li.current a:active {
  color: white;
}

footer > div li + li {
  border-left: 1px #26855c solid;
}

footer > div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  left: 8px;
}

#hpcarousel li a, #hpscopri form button, .boxservizi p a:first-child, #primopiano p > a, .cols2 aside[role] + section h1 + p a, .cols1 form + p a, .cols1 fieldset div button {
  background-image: url(../../images/css/sprite-buttons.png);
  background-repeat: no-repeat;
  text-align: center;
  height: 37px;
  line-height: 37px;
  color: #fff;
  border: 0;
  text-shadow: none;
  color: white;
  text-decoration: none;
}

#hpcarousel li a:link, #hpscopri form button:link, .boxservizi p a:link:first-child, #primopiano p > a:link, .cols2 aside[role] + section h1 + p a:link, .cols1 form + p a:link, .cols1 fieldset div button:link, #hpcarousel li a:visited, #hpscopri form button:visited, .boxservizi p a:visited:first-child, #primopiano p > a:visited, .cols2 aside[role] + section h1 + p a:visited, .cols1 form + p a:visited, .cols1 fieldset div button:visited, #hpcarousel li a:hover, #hpscopri form button:hover, .boxservizi p a:hover:first-child, #primopiano p > a:hover, .cols2 aside[role] + section h1 + p a:hover, .cols1 form + p a:hover, .cols1 fieldset div button:hover, #hpcarousel li a:focus, #hpscopri form button:focus, .boxservizi p a:focus:first-child, #primopiano p > a:focus, .cols2 aside[role] + section h1 + p a:focus, .cols1 form + p a:focus, .cols1 fieldset div button:focus, #hpcarousel li a:active, #hpscopri form button:active, .boxservizi p a:active:first-child, #primopiano p > a:active, .cols2 aside[role] + section h1 + p a:active, .cols1 form + p a:active, .cols1 fieldset div button:active {
  color: white;
}

#hpscopri form button {
  width: 68px;
  background-position: 0 0;
}

#hpcarousel li a {
  width: 109px;
  background-position: 0 -40px;
}

.boxservizi p a:first-child, #primopiano p > a, .cols1 fieldset div button {
  width: 148px;
  background-position: 0 -80px;
}

.cols2 aside[role] + section h1 + p a, .cols1 form + p a {
  width: 200px;
  background-position: 0 -120px;
}

main {
  background: url(../../images/css/bg-main.jpg);
  text-shadow: 1px 1px 1px #f6f6f6;
  font-size: 1.2em;
}

main > section {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 980px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* HOMEPAGE */
section h2 {
  font-size: 1.45em;
  padding: 28px 0 28px 28px;
  margin: 0;
  color: #454545;
  text-shadow: 1px 1px 1px #d8d8d8;
}

#hpcarousel {
  position: relative;
  z-index: 1;
  height: 425px;
  overflow: hidden !important;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#hpcarousel button {
  width: 58px;
  height: 78px;
  background-color: transparent;
  background-image: url(../../images/css/bg-galleryarrows-116x78.png);
  background-repeat: no-repeat;
  overflow: hidden;
  border: 0;
  text-indent: -999em;
  position: absolute;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 50%;
  margin-top: -39px;
  -webkit-transition: opacity .67s;
  -moz-transition: opacity .67s;
  -ms-transition: opacity .67s;
  -o-transition: opacity .67s;
  transition: opacity .67s;
}

#hpcarousel button.prev {
  left: 30px;
  background-position: top left;
}

#hpcarousel button.next {
  right: 30px;
  background-position: top right;
}

#hpcarousel:hover button {
  opacity: 1;
  filter: alpha(opacity=100);
}

#hpcarousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

#hpcarousel li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 425px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  white-space: normal;
}

#hpcarousel li figure {
  display: block;
  height: 425px;
  position: relative;
  text-align: center;
}

#hpcarousel li figcaption {
  position: absolute;
  z-index: 2;
  top: 310px;
  left: 50%;
  margin-left: -490px;
}

#hpcarousel li figcaption > span {
  display: none;
}

#hpcarousel li img {
  position: absolute;
  display: block;
  height: 425px;
  width: 1920px;
  margin: 0 auto;
  left: 50%;
  margin-left: -960px;
}

#hpcarousel li a {
  font-size: 11px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#hpcarousel li a:link, #hpcarousel li a:visited, #hpcarousel li a:hover, #hpcarousel li a:focus, #hpcarousel li a:active {
  color: white;
}

.lte-ie8 #hpcarousel ul {
  overflow: hidden;
}

.lte-ie8 #hpcarousel li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
}

#hpscopri {
  margin-top: 22px;
}

#hpscopri form {
  padding: 37px 30px;
  border-top: 1px #f6f6f6 solid;
  background: #e9e9e9;
  margin: 0 0 50px 0;
}

@media screen and (min-width: 1024px) {
  #hpscopri form {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    height: 120px;
    background: url(../../images/css/bg-form-hp.jpg) top left repeat-x;
  }
}
#hpscopri form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#hpscopri form ul li {
  margin-bottom: 10px;
  height: 37px;
}

#hpscopri form legend {
  color: #757575;
  display: block;
  margin: 5px 0 15px 0;
}

#hpscopri form label {
  color: #757575;
  background: url(../../images/css/sprite-form.png) left -37px no-repeat;
  height: 37px;
  line-height: 37px;
  padding-left: 50px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#hpscopri form input:checked + label {
  background-position: top left;
  color: #454545;
}

#hpscopri form input.checked + label {
  background-position: top left;
  color: #454545;
}

#hpscopri form li input {
  display: none;
}

#hpscopri form > div, #hpscopri form > fieldset {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px #d0d0d0 solid;
  display: block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #hpscopri form {
    /**
     * min-width:1024px : 1x
     * ==================================== */
  }

  #hpscopri form > div, #hpscopri form > fieldset {
    float: left;
    height: 124px;
    border-right: 1px #c3c3c3 solid;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  #hpscopri form > fieldset {
    padding: 0 33px;
    width: 124px;
  }

  #hpscopri form > div {
    width: 162px;
    padding-right: 90px;
  }

  #hpscopri form > fieldset + fieldset {
    width: 300px;
  }

  #hpscopri form button {
    margin: 50px 0 0 30px;
  }
}
#hpscopri fieldset > span {
  background: url(../../images/css/sprite-form.png) left -74px no-repeat;
  display: block;
  height: 37px;
  width: 300px;
  cursor: pointer;
}

#hpscopri fieldset > span b {
  height: 37px;
  line-height: 37px;
  width: 270px;
  display: block;
  color: #454545;
  text-indent: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

#hpscopri select {
  position: relative;
  z-index: 5;
  cursor: pointer;
  top: -37px;
  opacity: .01;
  filter: alpha(opacity=1);
  display: block;
  width: 300px;
  height: 37px;
}

.lte-ie7 #hpscopri select {
  top: -22px;
}

.boxservizi h2 {
  padding-top: 0;
}

.boxservizi figure {
  width: 100%;
  height: 185px;
  margin: 0;
}

.boxservizi article {
  width: 481px;
}

@media screen and (min-width: 1024px) {
  .boxservizi {
    /**
     * min-width:1024px : 1x
     * ==================================== */
  }

  .boxservizi article {
    float: left;
  }

  .boxservizi article + article {
    margin-left: 18px;
  }
}
.boxservizi div {
  border-top: 1px #fff solid;
  height: 171px;
  background: url(../../images/css/bg-servizi-hp.jpg) top left repeat-x;
}

.boxservizi div p:first-child {
  height: 86px;
  overflow: hidden;
  padding-top: 24px;
}

.boxservizi p {
  line-height: 1.3;
  margin: 0;
  color: #757575;
  padding: 0 30px 0 30px;
}

.boxservizi p a:first-child {
  float: left;
  color: white;
  text-decoration: none;
}

.boxservizi p a:first-child:link, .boxservizi p a:first-child:visited, .boxservizi p a:first-child:hover, .boxservizi p a:first-child:focus, .boxservizi p a:first-child:active {
  color: white;
}

.boxservizi p > span {
  float: left;
  width: 230px;
  margin-left: 20px;
}

.boxservizi p em {
  font-style: normal;
  color: #006b2a;
  font-weight: bold;
}

.boxservizi strong {
  color: #454545;
}

#primopiano {
  margin-bottom: 40px;
}

#primopiano > div {
  border-top: 0;
  background: url(../../images/css/bg-pplinks.jpg) left 261px no-repeat;
  height: 348px;
  overflow: hidden;
}

#primopiano > div > div {
  background: url(../../images/css/bg-primopiano.jpg) top left no-repeat;
  position: relative;
  z-index: 1;
  height: 100%;
}

#primopiano.curr-faq > div {
  background-position: left 88px;
}

#primopiano.curr-tutorial > div {
  background-position: left 174px;
}

#primopiano.curr-news > div {
  background-position: left 261px;
}

#primopiano h3 {
  margin: 0;
  display: block;
  width: 161px;
  height: 87px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  font-size: 1em;
  text-align: center;
}

#primopiano h3 a {
  display: block;
  height: 27px;
  padding-top: 60px;
  width: 100%;
  color: #767676;
  text-decoration: none;
  outline: none;
}

#primopiano h3 a:link, #primopiano h3 a:visited, #primopiano h3 a:hover, #primopiano h3 a:focus, #primopiano h3 a:active {
  color: #767676;
}

#primopiano h3 a:hover {
  color: #006b2a;
  text-decoration: none;
}

#primopiano h3 a:hover:link, #primopiano h3 a:hover:visited, #primopiano h3 a:hover:hover, #primopiano h3 a:hover:focus, #primopiano h3 a:hover:active {
  color: #006b2a;
}

#primopiano h3.current a {
  color: #006b2a;
  text-decoration: none;
}

#primopiano h3.current a:link, #primopiano h3.current a:visited, #primopiano h3.current a:hover, #primopiano h3.current a:focus, #primopiano h3.current a:active {
  color: #006b2a;
}

#primopiano p {
  position: absolute;
  left: 220px;
  top: 28px;
  width: 198px;
  line-height: 1.5;
  display: none;
}

#primopiano p.current {
  display: block;
}

#primopiano p > a {
  margin-top: 0.6em;
  display: block;
}

#primopiano p strong {
  display: block;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

#primopiano p + h3 {
  left: 161px;
  width: 160px;
}

#primopiano p + h3 + p + h3 {
  left: 321px;
  width: 160px;
}

#servclienti {
  margin-bottom: 40px;
}

#servclienti > div {
  border-top: 0;
  background: url(../../images/css/bg-assistenza.jpg) top left no-repeat;
  height: 348px;
  line-height: 1.5;
  position: relative;
}

#servclienti p {
  padding: 30px 0 40px 0;
  padding-left: 29px;
  font-size: 1.2em;
  height: auto;
}

#servclienti ul {
  margin: 0;
  padding: 0 0 0 29px;
  list-style: none;
}

#servclienti ul em {
  display: block;
}

#servclienti ul li {
  color: #767676;
  margin-bottom: 20px;
}

#servclienti ul li span {
  display: block;
  height: 20px;
  background: url(../../images/css/bg-phone.png) center left no-repeat;
  padding-left: 28px;
  color: #006b2a;
  font-size: 1.8em;
  font-weight: bold;
}

#addr {
  position: absolute;
  bottom: 0;
  left: 30px;
  padding: 33px 0 20px 0 !important;
  width: 421px;
  border-top: 1px #cdcdcd solid;
  font-size: 1em !important;
}

#addr span {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  float: none !important;
  width: auto;
}

#addr span b {
  display: block;
}

#addr span + span {
  margin-left: 60px;
}

.newslist {
  list-style-type: none;
  margin: 0;
  padding: 25px 0 0 0;
}

.newslist li {
  padding: 37px 0 15px 0;
  border-bottom: 1px #c5c5c5 solid;
}

.newslist li:first-child {
  padding-top: 0;
}

.newslist li > * {
  display: inline-block;
  height: 27px;
  line-height: 29px;
  padding: 0 10px;
}

.newslist li > span {
  display: block;
  padding: 1em 0 0 0;
  height: auto;
  line-height: 1.3;
}

.newslist li > a {
  color: #454545;
  text-decoration: none;
  border-left: 1px #bbb solid;
  padding-right: 15px;
  margin: 0 0 0 6px;
}

.newslist li > a:link, .newslist li > a:visited, .newslist li > a:hover, .newslist li > a:focus, .newslist li > a:active {
  color: #454545;
}

.newslist time {
  color: #757575;
  padding-left: 32px;
  padding-right: 0;
  background: url(../../images/css/calendar.png) top left no-repeat;
}

.newslist span a {
  color: #757575;
  text-decoration: none;
}

.newslist span a:link, .newslist span a:visited, .newslist span a:hover, .newslist span a:focus, .newslist span a:active {
  color: #757575;
}

.newslist span a strong {
  color: #454545;
}

#hpnews {
  padding-bottom: 50px;
  background: url(../../images/css/shadow.png) bottom center no-repeat;
}

#hpnews .newslist {
  border-top: 1px #bbb solid;
  border-bottom: 1px #bbb solid;
  padding: 25px 0;
}

#hpnews .newslist li {
  border-bottom: 0;
  padding: 0 28px;
}

#hpnews .newslist li > span {
  display: inline-block;
  padding: 0 10px;
  line-height: normal;
  height: 27px;
}

#hpnews .newslist li > a {
  border-right: 1px #bbb solid;
}

/* BREADCRUMBS */
#bcr {
  max-width: 980px;
  margin: 0 auto;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px #b8b8b8 solid;
}

#bcr ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#bcr li {
  color: #454545;
  float: left;
  font-weight: bold;
}

#bcr a {
  color: #757575;
  text-decoration: none;
}

#bcr a:link, #bcr a:visited, #bcr a:hover, #bcr a:focus, #bcr a:active {
  color: #757575;
}

#bcr a:hover {
  color: #006b2a;
  text-decoration: none;
}

#bcr a:hover:link, #bcr a:hover:visited, #bcr a:hover:hover, #bcr a:hover:focus, #bcr a:hover:active {
  color: #006b2a;
}

#bcr li + li {
  padding-left: 35px;
  background: url(../../images/css/bcr.png) 15px center no-repeat;
}

/* STILE GENERICO PAGINA INTERNA */
.internal main {
  padding-bottom: 47px;
  padding-left: 22px;
  padding-right: 22px;
}

@media screen and (min-width: 1024px) {
  .internal main {
    /**
     * min-width:1024px : 1x
     * ==================================== */
    padding-left: 0;
    padding-right: 0;
  }
}
.internal main > div + div {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 16px;
}

.internal article {
  border-top: 1px #c9c9c9 solid;
  margin-top: 42px;
  color: #757575;
  line-height: 1.5;
}

.internal article strong {
  color: #454545;
}

.internal article div {
  width: 46%;
  float: left;
}

.internal article div + div {
  margin-left: 7.99%;
}

/* PAGINA 2 COLONNE */
.cols2 aside[role] {
  float: left;
  width: 244px;
  font-size: 1.1em;
  font-weight: bold;
}

.cols2 aside[role] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cols2 aside[role] li {
  border-top: 1px #f6f6f6 solid;
  border-bottom: 1px #8f8e8d solid;
  border-right: 1px #babab9 solid;
  height: 45px;
  line-height: 45px;
  padding-right: 16px;
  background: url(../../images/css/bg-second-nav.png) top left repeat-x;
}

.cols2 aside[role] a {
  display: block;
  background: url(../../images/css/bg-plus.png) center right no-repeat;
  padding: 0 0 0 23px;
  color: #454545;
  text-decoration: none;
}

.cols2 aside[role] a:link, .cols2 aside[role] a:visited, .cols2 aside[role] a:hover, .cols2 aside[role] a:focus, .cols2 aside[role] a:active {
  color: #454545;
}

.cols2 aside[role] a:hover {
  color: #006b2a;
  text-decoration: none;
}

.cols2 aside[role] a:hover:link, .cols2 aside[role] a:hover:visited, .cols2 aside[role] a:hover:hover, .cols2 aside[role] a:hover:focus, .cols2 aside[role] a:hover:active {
  color: #006b2a;
}

.cols2 aside[role] li.current a {
  background-image: url(../../images/css/bcr.png);
  background-position: 98% center;
  color: #006b2a;
  text-decoration: none;
}

.cols2 aside[role] li.current a:link, .cols2 aside[role] li.current a:visited, .cols2 aside[role] li.current a:hover, .cols2 aside[role] li.current a:focus, .cols2 aside[role] li.current a:active {
  color: #006b2a;
}

.cols2 aside[role] + section {
  border-top: 1px #f6f6f6 solid;
  margin-left: 244px;
  padding: 34px 30px 0 40px;
  min-height: 500px;
  background: url(../../images/css/bg-internal.jpg) top left;
}

.cols2 aside[role] + section h1 {
  margin: 0;
  padding: 0;
}

.cols2 aside[role] + section h1 img {
  max-width: 100%;
}

.cols2 aside[role] + section h1 + p a {
  display: block;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.cols2 aside[role] + section h1 + p a:link, .cols2 aside[role] + section h1 + p a:visited, .cols2 aside[role] + section h1 + p a:hover, .cols2 aside[role] + section h1 + p a:focus, .cols2 aside[role] + section h1 + p a:active {
  color: white;
}

.cols2 aside[role] + section h2 {
  font-size: 1em;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.cols2 aside[role] + section h2 strong {
  color: #006b2a;
}

/* PAGINA 1 COLONNA */
.cols1 main {
  color: #454545;
}

.cols1 h1 {
  margin: 0;
  padding: 30px 0 30px 30px;
  font-size: 1.4em;
}

.cols1 form {
  background: url(../../images/css/bg-internal.jpg) top left;
  padding-bottom: 30px;
}

.cols1 form legend {
  color: #767676;
  display: block;
  margin: 28px 0 40px 30px;
  font-weight: bold;
}

.cols1 form legend b {
  color: #454545;
}

.cols1 form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cols1 form li {
  float: left;
  width: 438px;
  margin: 10px 15px 10px 30px;
}

.cols1 form label {
  color: #454545;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.cols1 form input {
  border: 0;
  width: 428px;
  padding: 0 5px;
  height: 37px;
  line-height: 37px;
  background: url(../../images/css/bg-input-moneta.png) top left no-repeat;
}

.cols1 form + p {
  margin-top: 2em;
  color: #767676;
  font-weight: bold;
}

.cols1 form + p a {
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  margin-left: 60px;
}

.cols1 fieldset {
  position: relative;
}

.cols1 fieldset div {
  position: absolute;
  bottom: 10px;
  height: 37px;
  line-height: 37px;
  right: 30px;
  width: 438px;
}

.cols1 fieldset div p, .cols1 fieldset div button {
  margin: 0;
  height: 37px;
}

.cols1 fieldset div a {
  color: #767676;
  text-decoration: none;
  text-decoration: underline;
  font-weight: bold;
}

.cols1 fieldset div a:link, .cols1 fieldset div a:visited, .cols1 fieldset div a:hover, .cols1 fieldset div a:focus, .cols1 fieldset div a:active {
  color: #767676;
}

.cols1 fieldset div button {
  float: right;
  text-transform: uppercase;
}

.cols1 fieldset div p {
  float: left;
}

/* PAGINAZIONE */
.pages {
  padding: 37px 0;
}

.pages ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages li {
  float: left;
  margin-right: 4px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f6f6f6;
}

.pages li:hover {
  background: #fdfdfd;
}

.pages li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #454545;
  text-decoration: none;
}

.pages li a:link, .pages li a:visited, .pages li a:hover, .pages li a:focus, .pages li a:active {
  color: #454545;
}

.pages li.current {
  background: #676767;
}

.pages li.current a {
  cursor: default;
  color: #f6f6f6;
  text-decoration: none;
}

.pages li.current a:link, .pages li.current a:visited, .pages li.current a:hover, .pages li.current a:focus, .pages li.current a:active {
  color: #f6f6f6;
}

.pages li.p, .pages li.n {
  background-image: url(../../images/css/bg-pages.png);
  background-position: center left;
  background-repeat: no-repeat;
}

.pages li.n {
  background-position: center right;
}

/*  
	This creates the CSS 2.1 @import directive 
    @import url( = asset_path("css/test.css")  % >) 
 */
/* 
 	This creates a SASS import, exploding the content of test stylesheets 
	import "test"; 
 */
/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
