
<!-- ::footer.html -->
<hr />

<footer role="contentinfo">

    <div>

    	<img src="images/setefi-footer.png" alt="Setefi" />

        <div>

            <ul>
                <li {% if (page.section == 'news'%} class="current"{% endif %}><a href="news.html">News</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Contatti</a></li>
                <li><a href="#">Lavora con noi</a></li>
                <li><a href="#">Sicurezza</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Accordo di conciliazione</a></li>
                <li><a href="#">Patti chiari</a></li>
            </ul>

            <address>Intesa Sanpaolo SpA P.Iva 10810700152</address>
                
        </div>

    </div>
</footer>
<!-- ::footer.html -->

