/** initial setup **/
.nano {
  position : relative;
  overflow : hidden;
}

@media all and (min-width: 768px) {
  .nano .content {

    z-index: 201;
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
  }
  .nano .content:focus {
    outline: thin dotted;
  }
  .nano .content::-webkit-scrollbar {
    visibility: hidden;
  }
  .has-scrollbar .content::-webkit-scrollbar {
    visibility: visible;
  }
  .nano > .pane {
    background : #e5e5e5;
    position   : absolute;
     z-index: 201;
    width      : 10px;
    right      : 0;
    cursor: pointer;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    /*
    opacity    : .01; 
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;  
    border-radius         : 5px;*/
  }
  .nano > .pane > .slider {
    background: #a08960;
    cursor: pointer;
    position              : relative;
    margin                : 0;
    /*
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;  
    border-radius         : 3px;*/
  }
  .nano:hover > .pane, .pane.active, .pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
   /* opacity    : 1; */
  }
}